#game-container {
  position: relative;
  width: 1280px;
  height: 720px;
  margin: 0 auto;
}

#controls-hud {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centre parfaitement */
  z-index: 10;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Espacement entre les images */
}

.control-hint {
  width: 200px; /* Ajustez selon vos images */
  height: auto;
  opacity: 1;
}








/* ====================================================== */
/* DÉCLARATION LOCALE DES POLICES STEAMPUNK (Optimisé) */
/* ====================================================== */

/* Déclaration de la police pour les titres */
@font-face {
  font-family: 'Cinzel Decorative';
  /* On pointe vers le nouveau fichier .woff2 */
  src: url('assets/fonts/CinzelDecorative-Bold.woff2') format('woff2');
  font-weight: 700;
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Cinzel Decorative';
  /* On pointe vers le nouveau fichier .woff2 */
  src: url('assets/fonts/CinzelDecorative-Black.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Cinzel Decorative';
  /* On pointe vers le nouveau fichier .woff2 */
  src: url('assets/fonts/CinzelDecorative-Regular.woff2') format('woff2');
  font-weight: 700;
  font-weight: normal;
}

/* Déclaration de la police pour le texte courant */
@font-face {
  font-family: 'IM Fell English SC';
  /* On pointe vers le nouveau fichier .woff2 */
  src: url('assets/fonts/IMFellEnglishSC-Regular.woff2') format('woff2');
}


/* ====================================================== */
/* CLASSES D'UTILISATION DES POLICES (NE CHANGE PAS) */
/* ====================================================== */

.font-steampunk-titre {
    font-family: 'Cinzel Decorative', serif;
    font-weight: 700;
    letter-spacing: 2px;
}
.font-steampunk-titre-2 {
    font-family: 'Cinzel Decorative', serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-weight: bold;
}

.font-steampunk-texte {
    font-family: 'IM Fell English SC', serif;
    font-size: 1.1em;
    line-height: 1.6;
}

/* --- LE RESTE DE VOTRE CSS ... --- */